<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.alex.bean.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="identity_id" jdbcType="VARCHAR" property="identity_id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="delete_time" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, icon, pwd, `role`, active, identity_id, create_time, update_time, delete_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `user`
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `user`
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.alex.bean.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user` (`name`, icon, pwd, 
      `role`, active, identity_id, 
      create_time, update_time, delete_time
      )
    values (#{name,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{role,jdbcType=INTEGER}, #{active,jdbcType=INTEGER}, #{identity_id,jdbcType=VARCHAR}, 
      #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, #{delete_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.alex.bean.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="role != null">
        `role`,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="identity_id != null">
        identity_id,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="delete_time != null">
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        #{role,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="identity_id != null">
        #{identity_id,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="delete_time != null">
        #{delete_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alex.bean.User">
    <!--@mbg.generated-->
    update `user`
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="role != null">
        `role` = #{role,jdbcType=INTEGER},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="identity_id != null">
        identity_id = #{identity_id,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="delete_time != null">
        delete_time = #{delete_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alex.bean.User">
    <!--@mbg.generated-->
    update `user`
    set `name` = #{name,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      `role` = #{role,jdbcType=INTEGER},
      active = #{active,jdbcType=INTEGER},
      identity_id = #{identity_id,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      delete_time = #{delete_time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update `user`
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.name != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.name,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="icon = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.icon != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.icon,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="pwd = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.pwd != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.pwd,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`role` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.role != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.role,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="active = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.active != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.active,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="identity_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.identity_id != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.identity_id,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.create_time != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.create_time,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.update_time != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.update_time,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="delete_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.delete_time != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.delete_time,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user`
    (`name`, icon, pwd, `role`, active, identity_id, create_time, update_time, delete_time
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.name,jdbcType=VARCHAR}, #{item.icon,jdbcType=VARCHAR}, #{item.pwd,jdbcType=VARCHAR}, 
        #{item.role,jdbcType=INTEGER}, #{item.active,jdbcType=INTEGER}, #{item.identity_id,jdbcType=VARCHAR}, 
        #{item.create_time,jdbcType=TIMESTAMP}, #{item.update_time,jdbcType=TIMESTAMP}, 
        #{item.delete_time,jdbcType=TIMESTAMP})
    </foreach>
  </insert>

  <select id="querySelective" resultMap="BaseResultMap">
      select
      *
      from user
      <where>
        <if test="id != null and id != ''">
          and id = #{id}
        </if>
        <if test="name != null and name != ''">
          and `name` = #{name,jdbcType=VARCHAR}
        </if>
        <if test="icon != null and name != ''">
          and icon = #{icon,jdbcType=VARCHAR}
        </if>
        <if test="pwd != null and name != ''">
          and pwd = #{pwd,jdbcType=VARCHAR}
        </if>
        <if test="role != null ">
          and `role` = #{role,jdbcType=INTEGER}
        </if>
        <if test="active != null">
          and active = #{active,jdbcType=INTEGER}
        </if>
        <if test="identity_id != null and name != ''">
          and identity_id = #{identity_id,jdbcType=VARCHAR}
        </if>
        <if test="create_time != null ">
          and create_time = #{create_time,jdbcType=TIMESTAMP}
        </if>
        <if test="update_time != null ">
          and update_time = #{update_time,jdbcType=TIMESTAMP}
        </if>
        <if test="delete_time != null ">
          and delete_time = #{delete_time,jdbcType=TIMESTAMP}
        </if>
      </where>
  </select>

  <select id="list" resultMap="BaseResultMap">
    select * from user
  </select>

  <select id="selectUserByIdentityID" resultMap="BaseResultMap">
    select * from user where identity_id = #{identity_id}
  </select>

  <select id="count" resultType="java.lang.Integer">
    select count(id) from user
  </select>
</mapper>